body{
	color: #f2f2f2;
	background-color: #333;
}

.header {
	text-align: center;
	margin-bottom: 10px;
}

.dance {
	position: absolute;
	left: 50%;
	margin-left: -350px;
	margin-top: 50px;
/*	display: none;*/
	top: 20px;
}

.floor {
	background-color: #ddd;
	height: 570px;
	width: 700px;
/*	display: inline-block;*/
	position: relative;
	top: 0px;
}

.square {
  width: 80px;
  height: 40px;
  border:thin solid black;
  position: absolute; /*  in order to move it has to be absolute*/
  transition: all 1s ease;
  opacity: 0;
  border-radius: 80px;
}

.start {
	left: 50%;
	margin-left: -20px;
}

.left{
	top: 450px;
	left: 70px;
	opacity: 1;
}
.center{
	top: 450px;
	left: 50%;
	margin-left: -20px;
	opacity: 1;
}

.right{
	top: 450px;
	left: 100%;
	margin-left: -110px;
	opacity: 1;
}

#left{
	background-color: blue;
}

#center {
	background-color: yellow;
}

#right {
	background-color: red;
}

#begin{
	font-size: 20px;
	border:2px solid #fff; 
	color: #fff;
	width: 150px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -75px;
	bottom: 30px;
	text-align: center;

}

#begin:hover{
	background: #fff;
	border:2px solid #fff; 
	color: #333;
}