body{
	color: #f2f2f2;
	background-color: #333;
	font-family: 'helvetica', arial;
}

.header {
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Monoton', cursive;
	font-size: 25px;
}

.dance {
	position: absolute;
	left: 50%;
	margin-left: -350px;
	margin-top: 80px;
	overflow: hidden;
	top: 20px;
}

.floor {
	background-color: #ddd;
	height: 570px;
	width: 700px;
	position: relative;
	
}

.square {
  width: 80px;
  height: 40px;
  border:thin solid black;
  position: absolute; /*  in order to move it has to be absolute*/
  transition: all 2s ease;
  opacity: 0;
  border-radius: 80px;
/*  overflow: hidden;*/
}

.start {
	left: 50%;
	margin-left: -20px;
}

.left{
	top: 450px;
	left: 65px;
	opacity: 1;
}
.center{
	top: 450px;
	left: 50%;
	margin-left: -35px;
	opacity: 1;
}

.right{
	top: 450px;
	left: 100%;
	margin-left: -130px;
	opacity: 1;
}

#left{
	background-color: blue;
}

#center {
	background-color: yellow;
}

#right {
	background-color: red;
}

#begin{
	font-size: 20px;
	border:2px solid #fff; 
	color: #fff;
	width: 150px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -75px;	
	bottom: 10px;
	text-align: center;
}

#begin:hover{
	background: #fff;
	border:2px solid #fff; 
	color: #333;
}

.dot{
	background: #000;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	position: absolute;
	top: -100px;
	transition: top 2s;
	z-index: 9999;
}

.move {
	top: 600px;
}

.loc65{
	left: 45px;
}

.loc83{
	margin-left: -35px;
	left: 50%;
}

.loc68{
	left: 100%;
	margin-left: -130px;
}

